[tool.black]
line-length = 120
target-version = ['py312']
include = '\.pyi?$'
extend-exclude = '''
/(
  migrations
)/
'''

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 120
known_first_party = ["app", "fina", "s3_storage", "migrate"]

[tool.mypy]
python_version = "3.12"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false  # Start with false, can enable later
ignore_missing_imports = true
exclude = [
    "migrations/",
]

[tool.flake8]
max-line-length = 88
extend-ignore = ["E203", "W503"]  # Black compatibility
exclude = [
    "migrations",
    "__pycache__",
    ".git",
]